In [7]:
from ssri_interactions.io import load_derived_generic
from ssri_interactions.stats import prop_of_total

import pandas as pd
from scipy.stats import chi2_contingency
from statsmodels.stats.contingency_tables import Table

In [8]:
neuron_types_all = load_derived_generic("neuron_types.csv")
neuron_types = load_derived_generic("neuron_types.csv").query("group != 'DIS'")

In [9]:
# is there an association between the neuron type and group?

In [10]:


tab = pd.crosstab(neuron_types["group"], neuron_types["neuron_type"])
pct_each = tab.apply(prop_of_total, axis=1).multiply(100).round(2)
stat, p, dof, expected = chi2_contingency(tab.values) 
tab_resids = Table(tab).standardized_resids


print(f"Chi2({dof}) = {stat:.2f}\nP = {p:.2f}")
display(pct_each)
display(tab)
display(tab_resids.round(2))

Chi2(2) = 12.77
P = 0.00

neuron_type     FF    SIR     SR
group
CIT           6.27  49.82  43.91
SAL          13.55  34.19  52.26

neuron_type  FF  SIR   SR
group
CIT          17  135  119
SAL          21   53   81

neuron_type    FF   SIR    SR
group
CIT         -2.53  3.12 -1.66
SAL          2.53 -3.12  1.66

In [11]:
tab = pd.crosstab(neuron_types["group"], neuron_types["neuron_type"])
pct_each = tab.apply(prop_of_total, axis=1).multiply(100).round(2)
stat, p, dof, expected = chi2_contingency(tab.values) 
tab_resids = Table(tab).standardized_resids


print(f"Chi2({dof}) = {stat:.2f}\nP = {p:.2f}")
display(pct_each)
display(tab)
display(tab_resids.round(2))

Chi2(2) = 12.77
P = 0.00

neuron_type     FF    SIR     SR
group
CIT           6.27  49.82  43.91
SAL          13.55  34.19  52.26

neuron_type  FF  SIR   SR
group
CIT          17  135  119
SAL          21   53   81

neuron_type    FF   SIR    SR
group
CIT         -2.53  3.12 -1.66
SAL          2.53 -3.12  1.66